@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    88% !default;

$on-palm:          88% !default;
$on-laptop:        88% !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

:root {
  --mainColor: #ffd28e;
  --secondaryColor: #fc8600;
}



a {
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 100%;
}

i {
  display: block;
  text-indent: 1em;
}

#homed {

padding-left: 100px;
padding-right: 100px;

}



h5{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: bold;
}
a#download {
  display: block;
  text-align: center;
  width: 20%;
  margin: 0px auto;
  margin-bottom: 0%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 8.88px;
}

a#downloadd {
  display: block;
  text-align: center;
  width: 20%;
  margin-left: 50%;
  margin-bottom: 0%;
  color: rgb(51, 51, 51);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 8.88px;
  
}






.homepage {
  background: #ffffff;
  position: relative;
  border-radius: 100%;
  transform: scale(0.125) translateY(-250%) translateX(450%);
  animation: anim 2s cubic-bezier(0,0,.3,1) 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes anim {
  0% {
    border-radius: 100%;
    transform: scale(0.125) translateY(-450%) translateX(0%);
  }
  
  30% {
    transform: scale(0.125) translateY(calc(-350% + 100vh)) translateX(0%);
  }
  
  60% {
    transform: scale(0.125) translateY(-250%) translateX(0%);
  }
  
  100% {
    overflow: auto;
    border-radius: 0%;
    transform: scale(1) translateY(0%) translateX(0%);
  }
}

.homepage::before {
  content: "";
  position: absolute;
  z-index: 10000;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #000;
  pointer-events: none;
  animation: anim2 1s cubic-bezier(0,0,.3,1) 2s 1;
  animation-fill-mode: forwards;
}

@keyframes anim2 {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}

.quote {
  -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin-top: 12%;
}

  
.quotee {
  -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin-top: 2%;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
}


.centre {
  text-align: center;
  width: auto;
 margin-bottom: 25%;
 margin-top: 25%;
  
}


.line {
  -webkit-transition: width 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: width 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 0px;
  height: 1px;
  background: #515151;
  margin: auto;
  margin-bottom: 12px;
  margin-top: 18px;
}

.quote.active {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 1;
}

.quotee.active {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 1;
}

.quote.active .line {
  width: 100px;
}

.quotee.active .line {
  width: 100px;
}

img {
    -webkit-animation: adjustHue 10s infinite;
    -moz-animation: adjustHue 10s infinite;
    animation: adjustHue 10s infinite;
}

@-webkit-keyframes adjustHue { 
  50% {
    -webkit-filter: saturate(150%) hue-rotate(-35deg);
  }
}

@-moz-keyframes adjustHue { 
  50% {
    -moz-filter: saturate(150%) hue-rotate(-35deg);
  }
}

@keyframes adjustHue { 
  50% {
    filter: saturate(150%) hue-rotate(-35deg);
  }
}

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 1s ease-in 1 normal forwards;
       -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 1800ms;
     -moz-animation-delay: 1800ms;
       -o-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.animate-second {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate-third {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}