<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  {%- include head.html -%}

  

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" height = 100%>
      
      <div class = "centre">
        <h1><a href="https://conan-1iu.github.io/about/" id = "downloadd" class = "animate-reveal animate-first">
      About me
      </a>
      </h1>
      
      <h1><a href="https://conan-1iu.github.io/about/" id = "downloadd" class = "animate-reveal animate-second">
        UNSW Co-op Scholar
        </a>
        </h1>
      
        <h1><a href="https://conan-1iu.github.io/about/" id = "downloadd" class = "animate-reveal animate-third">
      Radford College Programming Club
          </a>
          </h1>
      
      
    </div>

      <div class="wrapper">
        {{ content }}
      </div>
      
    </main>

    <br>
<br>
<br>



    {%- include footer.html -%}



</html>
